body{
	font-family: 'Kalam', cursive;
	font-size: 16px;
	overflow-x: hidden;
}
p{
	font-family: 'Kalam', cursive;
	font-size: 22px;
}
.todo-title{
	margin-top: 50px;
    background: #5A5CE2;
}
.add-on-btn{
	background: #5A5CE2;
}
.add-on-btn:hover{
	background: #5A5CE2;
} 
.title{
  font-family: 'Kalam', cursive;
  color: #fff;
}
.task{
	text-align: center;
	font-family: 'Kalam', cursive;
	font-size: 24px;
	font-weight: 800;
	color: #5A5CE2;
}

.label-info {
    background-color: #5A5CE2;
}
.custom {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom:hover {
   color: #5A5CE2;
}


/* Hide the browser's default checkbox */
.custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 10px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 15px;
    height: 25px;
    width: 25px;
    background-color: #E3E9FF;
    border-radius: 5px;
}
/* When the checkbox is checked, add a blue background */
.custom input:checked ~ .checkmark {
    background-color: #5A5CE2;
}
.custom input:hover ~ .checkmark {
    background-color: #5A5CE2;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.trash-icon{
   font-size: 18px;
   float: right;
   z-index: 10000;
   margin-top: -37px;
   cursor: pointer;
}
.trash-icon2{
	font-size: 18px;
   cursor: pointer;
   float: right;
   margin-top: 0px;
}
.task-done{
	color: #CECFDD;
    text-decoration: line-through;
    /*margin-left: 15px;*/
    font-style: italic;
    font-weight: 800;
}
.all-trash{
	  top: 0px;
    height: 44px;
    padding: 13px;
    color: white;
}
.all-trash:hover{
    color: white;
}
.trash-done{
    padding: 8px;
    top: -44px;
    font-size: 16px;
    height: 34px;
    color: white;
}
.trash-done:hover{
    color: white;
}

@media screen and (max-width: 768px) {
.trash-icon{
   margin-right: 30px;
}
.trash-icon2{
   margin-right: 30px;
}}