<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="todo">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
    <link rel="icon" href="todo.ico" type="image/gif" sizes="16x16">
	<title>MEAN TODO</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Kalam|Poiret+One" rel="stylesheet">	<style>
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:50px; }
	</style>

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
	<link rel="stylesheet" href="css/style.css">
	<script src="js/main.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS WITH INITIALIZE FUNCTION -->
<body ng-controller="mainController">
	<div class="container">

		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron todo-title text-center">
			<h2 class="title"> Ma Liste <span class="label label-info">{{ todos.length }}</span></h2>
		</div>
	</div>	
		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">
						<input type="text" class="form-control input-lg text-center" placeholder="Ajouter une tache" ng-model="formData.text">
					</div>

					<button type="submit" class="btn btn-primary btn-lg add-on-btn" ng-click="createTodo()" title="ajouter une tache">+</button>
				    <button class="glyphicon glyphicon-trash btn btn-lg add-on-btn all-trash" title="supprimer tout!"
				    ng-click="deleteAll()"></button>

				</form>
			</div>
		</div>

		<!-- TODO LIST -->
		<div id="todo-list" class="row">
			<h2 class="task"> {{active}} Taches en cours</h2>
			<div class="col-sm-4 col-sm-offset-4 col-md-4">
				<div   ng-repeat="todo in todos | filter:{ done: false}">
	              <label class="custom">{{ todo.descp }}
                   <input type="checkbox" ng-click="updateTodo(todo._id, true)">
                   <span class="checkmark"></span>
                  </label>
                      <span class="glyphicon glyphicon-trash trash-icon"  ng-click="deleteTodo(todo._id)"></span>
                </div>
				</div>
			</div>


		<!-- DONE LIST -->
		<div id="todo-list" class="row">
			<h2 class="task"> {{done}} Taches terminées</h2>
			<div class="col-sm-4 col-sm-offset-4 col-md-4">
				<!-- LOOP OVER THE TODOS IN $scope.todos -->
				<div class="checkbox" ng-repeat="todo in todos  | filter:{ done: true }">
					<!--<p class="task-done">
						{{ todo.descp }}
					</p>	-->
					<label class="custom task-done">
						{{ todo.descp }}
                        <input type="checkbox" ng-click="updateTodo(todo._id, false)">
                        <span class="checkmark"></span>
                    </label>
					<span class="glyphicon glyphicon-trash trash-icon2" ng-click="deleteTodo(todo._id)"></span>


				</div>

			</div>
		</div>

		<div class="text-center text-muted">
			<p> A demo by Jouda Bouchahda.</p>
		</div>
	</div>

</body>
</html>